*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
height: 5000px;
background-color: rgb(0, 0, 0);
}
.header{
    width: 90%;
    height: 30px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.808) ;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.header-div1{
    width: 40%;
    height: 30px;
    padding: 5px;
}
.header-div2{
    width: 31%;
    height: 30px;
    padding: 5px ;
}
.header-div1-usermenu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
}
.header-div1-usermenu li{
    display: inline;
}
.header-div1-usermenu li a , .header-div2-usermenu li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    padding: 2px 8px;
    font-size: 15px;
}
.header-div2-usermenu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
}
.header-div2-usermenu li{
    display: inline;
}
.header a::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 0px;
    bottom: 0;
    left: 0;
    background-color: #770000;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.header a:hover::after{
    width: 2px;
    height: 90%;
    opacity: 1;
    visibility: visible;
}
.header a::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 0px;
    top: 10%;
    right: 2px;
    background-color: #770000;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.header a:hover::before{
    width: 2px;
    height: 90%;
    opacity: 1;
    visibility: visible;
}
.icon{
    transition:0.8s;
}
.header-div2-usermenu li:hover .icon{
    transform: rotateY(180deg);
    color: #ff0202;
}
/* ///////////////////////////////////// header-main //////////////////////////////////////// */
.header-main{
    width: 90%;
    height: 100px;
    padding: 8px 50px;
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:20px
}
.header-main-div1{
    /* border: 1px solid 	#ff2e63; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main-div1 i{
    color: aqua;
    font-size: 50px;
    padding: 10px 20px 10px 0px;
}
.header-main-div1 h2{
    font-weight: 300;
}
.header-main-div2{
    /* border: 1px solid 	#6a0572; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-main-div2-usermenu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    /* border: 1px solid blue; */
    position: relative;
}

.header-main-div2-usermenu li {
    position: relative;
}
.header-main-div2-usermenu li a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    color: black;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-main-div2-usermenu a::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 0px;
    top: 100%;
    left: 0;
    background-color: #770000;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.header-main-div2-usermenu a:hover::after{
    height: 100%;
    top: 0px;
    opacity: 1;
    visibility: visible;
}
.li-borders::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 0px;
    top: 100%;
    left: 100%;
    background-color: #770000;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.header-main-div2-usermenu > li > a:hover + .li-borders::after{
    height: 100%;
    top: 0px;
    opacity: 1;
    visibility: visible;
}
.header-main-div2-usermenu a::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    bottom:0 ;
    left: 2px;
    background-color: #770000;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.header-main-div2-usermenu a:hover::before{
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.li-borders::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    top:0 ;
    left: 2px;
    background-color:#770000;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.header-main-div2-usermenu > li > a:hover + .li-borders::before{
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.header-main-div2-usermenu  > li {
    position: relative;
}
.header-dropdown{
    position: absolute;
    top: 100%;
    left: -70%;
    /* left: 0; */
    min-width: 320px;
    background: #ffffff;
    border-radius: 6px;
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    transition: 1s;
    z-index: 2;
    box-shadow: 0.1px 0.1px 10px 1px #5f5f5f ;
}
.header-main-div2-usermenu > li:hover .header-dropdown{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.header-dropdown-list1, .header-dropdown-list2{
    margin:0;
    padding:5px 20px; 
    display: inline-block;
    width: 48%;
}
.header-dropdown-list1 a , .header-dropdown-list2 a{
    text-decoration: none;
}
.header-dropdown dt{
    font-weight:200;
    color:#696969;
    margin-bottom:15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #555;
}
.header-dropdown dd{
    margin:0 0 6px 0;
    color:black;
    text-decoration: none;
    
    cursor: pointer;
    transition:1s
}
.header-dropdown dd:hover{
    color:red;
    transform: scale(1.1);
}
.header-main-div3{
    /* border: 1px solid #e0c097; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main-div3 i{
    padding: 15px;
    font-size: 18px;
}
.header-main-div3 i:hover{
    color: #770000;
    cursor: pointer;
    top:-5
}
.cart{
    position: relative;
}
.cart-count{
    position: absolute;
    top: -1px;
    right: 13px;
    background: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    line-height: 1;
    transform: translateY(0px);
    transition: 1s;
}
.cart:hover .cart-count{
    transform: translateY(-6px);
}
/* ///////////////////////////////////////header-promo/////////////////////////////// */
.header-promo{
    width: 90%;
    height: 40px;
    padding: 10px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.header-promo span{
    color: white;
}
.header-promo a{
    display: inline-block;
    font-size: 16px;
    color: #e0c097;
    transition: 0.5s;
    padding-left: 6px;
}
.header-promo a:hover{
    transform: scale(1.1);
    letter-spacing: 1.1px;
}
/* ////////////////////////////////////////// main /////////////////////////////////////// */
.container-main{
    width: 90%;
    height: 90vh;
    
    background-color: #F7EEE8;
    /* padding: 10px; */
    margin: auto;
    display: flex;
    justify-content: center;
}
.main-div1 , .main-div2{
    width: 50%;
    height: 100%;
    background-color: #F5EEE6;
    /* border: 1px solid black; */
}
.main-div1{
    background-image: url(../images/ChatGPT\ Image\ Aug\ 9\,\ 2025\,\ 10_23_29\ PM.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.main-div2{
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 50px;
}
.main-div2 h2:first-child{
    font-size: 32px;
    color: #770000;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
}
.main-div2 h2 + h2 {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    margin-top: 25px;
}
.main-div2 p{
    font-size: 17px;
    letter-spacing: 1px;
    color: #555;
    margin-top: 25px;
}
.main-div2 button{
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(39, 39, 39);
    color: #F5EEE6;
    border: none;
    /* box-shadow: 0.001px 0.001px 6px 0.01px black; */
    margin-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.8s;
}
.main-div2 button:hover{
    background-color: #F5EEE6;
    color: black;
    border: 1px solid #818181;
}
/* ///////////////////////////////container-Sound////////////////////////////////////// */
.container-Sound{
    width: 90%;
    height: 70vh;
    background-color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 2.6%;
    /* gap: 12px; */
}
.Sound-div1, .Sound-div2, .Sound-div3{
    width: 30%;
    height: 80%;
    /* border: 1px solid #818181; */
    justify-items: center;
    align-content: flex-end;
    position: relative;
    overflow: hidden;
}
.Sound-div1{
    background-image: url(../images/ChatGPT\ Image\ Aug\ 9\,\ 2025\,\ 10_23_29\ PM.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    transition: 1s;
    background-size: 100%;
}
.Sound-div2{
    background-image: url(../images/ChatGPT\ Image\ Aug\ 9\,\ 2025\,\ 10_23_29\ PM.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    transition: 1s;
    background-size: 100%;
}
.Sound-div3{
    background-image: url(../images/ChatGPT\ Image\ Aug\ 9\,\ 2025\,\ 10_23_29\ PM.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    transition: 1s;
    background-size: 100%;
}
.Sound-div1-diva{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.Sound-div1-diva h2 {
    font-size: 26px;
    color: white;
    transform: translateY(30px);
    transition: 1s;
}
.Sound-div1-diva a {
    color: #e0c097;
    font-size: 20px;
    line-height: 60px;
    transform: translateY(40px);
    transition: 1s;
}
.Sound-div1::after,
.Sound-div2::after,
.Sound-div3::after{
  content: "";
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: 50%;
  background:-webkit-linear-gradient(bottom, black, transparent);
  z-index: -1;
}
:-webkit-any(.Sound-div1, .Sound-div2, .Sound-div3):hover a,
:-webkit-any(.Sound-div1, .Sound-div2, .Sound-div3):hover h2 {
  transform: translateY(-10px);
  transition: 1s;
  opacity: 1;
}
:-webkit-any(.Sound-div1, .Sound-div2, .Sound-div3) a:hover {
  transform: translateY(-10px) scale(1.2);
  letter-spacing: 1px;
}
.Sound-div1:hover, .Sound-div2:hover, .Sound-div3:hover{
    background-size: 110%;
}
/* ///////////////////////////////////////////trending///////////////////////////////////////////// */
.container-trending{
    width: 90%;
    height: 100vh;
    background-color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    
}
.trending-div1{
    width: 90%;
    height: 15vh;
    border-bottom: 2px solid rgb(182, 182, 182);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.trending-div1-diva{
    display: flex;
    flex-wrap: wrap;
}
.trending-div1-diva h2{
    margin: auto;
    font-size: 30px;
    align-content: flex-start;
}
.trending-div1-divb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.trending-div1-divb-list{
    list-style: none;
    display: flex;
}
.trending-div1-divb-list li{
    display: inline;
}
.trending-div1-divb-list li a , .trending-div1-divb-list li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    padding: 2px 10px;
    font-size: 20px;
}
.trending-div1-divb-list a::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 4px;
    bottom: -138%;
    left: 1%;
    background-color: red;
    transform:  scaleX(0); 
    transform-origin: center;
    transition: transform 0.01s ease;
}
.trending-div1-divb-list a:focus::after{
    width: 100%;
    visibility: visible;
    transform: scaleX(0.85);
}
.trending-div1-divb-list a:focus{
    color: red;
}
.trending-div3{
    width: 94% ;
    height: 70%;
    /* border: 1px solid rgb(255, 0, 0); */
    margin: auto;
    display: flex;
    gap: 10px;
    
}
.trending-div2-icon{
    width: 2%;
    height: 70%;
    /* border: 1px solid #a31313; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.trending-div2{
    width: 25% ;
    height: 100%;
    /* border: 1px solid blue; */
}
.trending-parent{
    width: 100% ;
    height: 90%;
    /* border: 1px solid rgb(208, 255, 0); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.trending-parent1{
    width: 100% ;
    height: 80%;
    /* border: 1px solid rgb(208, 255, 0); */
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}
.trending-parent1-front-img,.trending-parent1-back-img{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}
.trending-parent1-content{
    width: 100%;
    height: 20%;
    /* border: 2px solid #41af20; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.trending-parent1-front-img{
    z-index: 4;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center ;
}
.trending-parent1-back-img{
    transform: rotateY(180deg);
    /* border: 1px solid #01345c; */
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    align-items: center ;
}
.trending-parent1:hover{
    transform: rotateY(180deg);
}
.trending-parent1-back-card{
    position: absolute;
    z-index: 3;
    color: white;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    transform: scale(0.5) translateY(0);
    transition: 1s; 
    opacity: 0;
}
.trending-parent1-back-card a{
    display: inline-block;
    width: 50px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 25px ;
    line-height: 40px; 
}
.trending-parent1:hover .trending-parent1-back-card{
    transform: scale(1.1) translateY(-20px);
    opacity: 0.9;
}
.trending-parent1-back-card a:hover{
    background-color: red;
    color: white;
}
.trending-parent1-content h2{
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.trending-parent:hover .trending-parent1-content h2{
    color: red;
}
.trending-parent1-content span{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.old-price{
    text-decoration: line-through;
    color: gray;
}
/* ///////////////////////////////////////////////testimonials///////////////////////////////////////// */
.container-testimonials{
    width: 90%;
    height: 70vh;
    background-color: rgb(230, 253, 255);
    border-top: 2px solid rgb(156, 156, 156);
    border-bottom: 2px solid rgb(156, 156, 156);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
}
.testimonials-div1, .testimonials-div2, .testimonials-div3{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
}
.testimonials-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.testimonials-div2{
    display: flex;
    justify-content: space-between;
}
.testimonials-div2-divA,.testimonials-div2-divC{
    width: 20%;
    height: 100%;
    /* border: 1px solid rgb(255, 8, 8); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.testimonials-div2-divB{
    width: 60%;
    height: 100%;
    /* border: 1px solid rgb(255, 8, 8); */
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: rgb(97, 97, 97);
}
.testimonials-div3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials-div3-divA{
    width: 25%;
    height: 100%;
    /* border: 1px solid rgb(247, 17, 216); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonials-div3-img{
    width: 40%;
    height: 80%;
    border-radius: 50%;
    /* border: 1px solid rgb(255, 8, 8); */
    background-image: url(../images/51.png);
    background-position: center;
    background-size: cover;
}
.testimonials-div3-content{
    width: 70%;
    height: 40%;
    padding: 5px;
    color: #555;
    /* border: 1px solid rgb(8, 107, 255); */
}
.testimonials-div3-content h2{
    font-size: large;
    line-height: 30px;
    color: black;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */